.places {
  min-width: 320px;
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  box-sizing: border-box;
}

@media screen and (max-width: 925px) {
  .places {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 19px;
  }
}

@media screen and (max-width: 620px) {
  .places {
    grid-template-columns: 1fr;
    padding: 0 19px;
  }
}
