.profile {
  max-width: 880px;
  min-width: 320px;
  display: flex;
  align-items: center;
  padding: 37px 0 49px;
  box-sizing: border-box;
}

@media screen and (max-width: 925px) {
  .profile {
    padding: 40px 19px 36px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
}
