.place-card {
  position: relative;
  color: #000;
  font-size: 0;
  border-radius: 13px;
  transition: box-shadow .3s;
}

.place-card:hover {
  box-shadow: 3px 3px 10px rgb(93, 186, 202), -3px -3px 10px rgb(117, 233, 156);
}
